*{
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    background-color: #CBC7C7;
    padding: 20px;
}
#total {
    margin: 10px;
}
.card {
    display: flex;
    align-items: center;
}
.addToCart {
    height: 40px;
    background-color: #fff;
    border: 2px solid #CBC7C7;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;
}
.addToCart:hover {
    background-color: #CBC7C7;
}